#Message_Send_Box{
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:900;
	padding:0.01em 16px;
	padding-top:16px;
	padding-bottom:16px;
	color:#fff;
	background-color:#4CAF50;
}

#To_Send_Message{
	
}

.deca{
	font-family:Tohoma;
	font-size:72px;
	font-weight: bold;
}

.timenew{
    font-family: "Times New Roman";
	font-size:32px;
}

.padding-top-100{
	padding-top:100px;
}

#Message_Tone{
	display:none;
}

#Send_BTN{
	text-align:center;
}

#Message_Dysplay{
	width:100%;
	display:block;
	padding-top:8px;
	padding-bottom:100px;
	padding-left:16px;
	padding-right:16px;
	overflow:hidden;
}

.Message_Dysplay_Box{
	position:relative;
	background:#2196F3;
	color:#fff;
	padding:8px 16px;
	margin-top:16px;
	box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.Message_Dysplay_Box .master{
	font-size:10px;
	position:absolute;
	bottom:7px;
	right:7px;
}

.me-hide-so .master .Name{
	display:none;
}